# Sanity.io Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=w41634kr
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01

# Optional: For write access (add your token later)
# SANITY_API_TOKEN=skrma9TwrjEpy6lUWuVeXhGmhLXEeYyRNNvsQOKUbReD4LqgaJzPXAJbzlomSFPCADE3VivJfyYzPlhLCOI8WYpJ291W6fX3pSn0GP086sdkeTPNTBRQAAATK9q9KlMvEdaN265wTGxDpP9gDgSCANrYcNgHyBN2IgNEM8x0QmJQBJtlQXj3
