# Sanity.io Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=w41634kr
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01

# Optional: For write access (add your token later)
# SANITY_API_TOKEN=your_token_here
